img.emoji {
  height: 1em;
  margin: 0 0.2em 0 0.2em;
  width: 1em;
}

main > nav > section.container > ul li:last-child a {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

main > nav > section.container > ul li > a img {
  display: inline-block;
  margin: 0 0.2em;
}