body .content .centered .about ul li a {
  line-height: 5rem;
}

.mkt-hide {
  display: none !important;
}

.cookie-banner {
  align-items: center;
  background-color: inherit;
  border-radius: 5px;
  bottom: 40px;
  display: flex;
  justify-content: space-between;
  left: 10%;
  padding: 5px 14px;
  position: fixed;
  right: 10%;
}

.close {
  align-items: center;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  height: 25px;
  justify-content: center;
}

body.colorscheme-dark .cookie-banner {
  border: 1px solid rgba(150, 150, 150, 0.8);
  box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.1);
}

body.colorscheme-light .cookie-banner {
  border: 1px solid rgba(50, 50, 50, 0.8);
  box-shadow: 0 0 30px 2px rgba(0, 0, 0, 0.3);
}

body.colorscheme-light .close {
  background-color: #212121;
  color: #dfdfdf;
}

body.colorscheme-dark .close {
  background-color: #dfdfdf;
  color: #212121;
}

img.emoji {
  height: 1em;
  margin: 0 0.2em 0 0.2em;
  width: 1em;
}

main > nav > section.container > ul li:last-child a {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

main > nav > section.container > ul li > a img {
  display: inline-block;
  margin: 0 0.2em;
}