<script src="https://cdn.jsdelivr.net/npm/ackee-tracker-consent@1.2.0/dist/ackee-tracker-consent.min.js"></script>
<script defer>
  AckeeTrackerOptIn.consent(
    'https://analytics.leocarvalho.dev',
    'c4b60f86-ff96-44b0-8600-1a617d141f2b',
    {
      text: 'Este site solicita permissão para analisar o seu uso do site em detalhes. Caso permita, esses dados irão ajudar a melhorar sua experiência no site.',
      acceptButtonLabel: 'Aceito',
      rejectButtonLabel: 'Recuso',
      moreInformationLabel: 'Mais informações',
      moreInformationLink: "/privacy-policy",

      // Activates Shadow if set to true
      shadow: true,
    }
  );
</script>

{{- template "shortcodes/ads.html" . -}}
{{- template "shortcodes/twemoji.html" -}}