<div class='cookie-banner' style="display: none;">
  <p>Acessando esse site, você concorda com a <a href='/privacy-policy'>política de cookies</a>
  </p>
  <button class='close'>&times;</button>
</div>

<script src="https://analytics.leocarvalho.dev/tracker.js"></script>
<script defer>
  const instance = ackeeTracker.create('https://analytics.leocarvalho.dev', {
    detailed: true,
    ignoreLocalhost: true
  });
  const attributes = ackeeTracker.attributes(true)
  instance.record('c4b60f86-ff96-44b0-8600-1a617d141f2b', {
	  siteLocation: window.location.href,
	  siteReferrer: document.referrer
  })
</script>

{{- template "shortcodes/ads.html" . -}}
{{- template "shortcodes/twemoji.html" -}}